<div class="header-text">
  <h1 class="title">Register</h1>
  <p class="sub-title">Create an account!</p>
  <p class="sub-title" aria-label="login">
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</div>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">
  <nb-card>
    <nb-card-body class="register-card">
      <div>
        <label class="label" for="input-email">Email address:</label>
        <input
          nbInput
          fullWidth
          [(ngModel)]="user.email"
          #email="ngModel"
          name="email"
          id="input-email"
          pattern=".+@.+\..+"
          placeholder="Email address"
          fieldSize="large"
          autofocus
          status="basic"
          required="true"
          [attr.aria-invalid]="email.invalid && email.touched ? true : null"
        />
        <ng-container *ngIf="email.invalid && email.touched"> </ng-container>
      </div>
      <div>
        <label class="label" for="input-password">Password:</label>
        <input
          nbInput
          fullWidth
          [(ngModel)]="user.password"
          #password="ngModel"
          name="password"
          type="password"
          id="input-password"
          placeholder="Password"
          fieldSize="large"
          status="basic"
          [required]="true"
          minlength="6"
          maxlength="40"
          [attr.aria-invalid]="
            password.invalid && password.touched ? true : null
          "
        />
        <ng-container *ngIf="password.invalid && password.touched">
        </ng-container>
      </div>
      <div>
        <label class="label" for="input-name">First Name:</label>
        <input
          nbInput
          fullWidth
          [(ngModel)]="user.name"
          #name="ngModel"
          name="name"
          id="input-name"
          placeholder="First Name"
          fieldSize="large"
          status="basic"
          [required]="true"
          [attr.aria-invalid]="name.invalid && name.touched ? true : null"
        />
        <ng-container *ngIf="name.invalid && name.touched"> </ng-container>
      </div>
      <div>
        <label class="label" for="input-lastName">Last Name:</label>
        <input
          nbInput
          fullWidth
          [(ngModel)]="user.lastName"
          #lastName="ngModel"
          name="lastName"
          id="input-lastName"
          placeholder="Last Name"
          fieldSize="large"
          status="basic"
          [required]="true"
          [attr.aria-invalid]="
            lastName.invalid && lastName.touched ? true : null
          "
        />
        <ng-container *ngIf="lastName.invalid && lastName.touched">
        </ng-container>
      </div>
      <div>
        <label class="label" for="input-phone">Phone number:</label>
        <input
          nbInput
          fullWidth
          [(ngModel)]="user.phone"
          #phone="ngModel"
          name="phone"
          id="input-phone"
          placeholder="Phone number"
          fieldSize="large"
          status="basic"
          [required]="false"
          [attr.aria-invalid]="phone.invalid && phone.touched ? true : null"
        />
        <ng-container *ngIf="phone.invalid && phone.touched"> </ng-container>
      </div>
      <div>
        <label class="label" for="input-address">Address:</label>
        <input
          nbInput
          fullWidth
          [(ngModel)]="user.address"
          #address="ngModel"
          name="address"
          id="input-address"
          placeholder="Address"
          fieldSize="large"
          status="basic"
          [required]="false"
          [attr.aria-invalid]="address.invalid && address.touched ? true : null"
        />
        <ng-container *ngIf="address.invalid && address.touched">
        </ng-container>
      </div>

      <button
        nbButton
        fullWidth
        status="primary"
        size="large"
        [disabled]="submitted || !form.valid"
        [class.btn-pulse]="submitted"
      >
        Sign Up
      </button>
    </nb-card-body>
  </nb-card>
</form>
