<div class="header-text">
  <h1 class="title">Register</h1>
  <p class="sub-title">Create an account!</p>
  <p class="sub-title" aria-label="login">
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</div>

<form (ngSubmit)="register()" [formGroup]="registerForm">
  <nb-card>
    <nb-card-body class="register-card">
      <div>
        <label class="label" for="email">Email address:</label>
        <input
          nbInput
          fullWidth
          type="text"
          id="email"
          name="email"
          formControlName="email"
          placeholder="Email address"
          fieldSize="large"
          autofocus
          status="basic"
          required="true"
        />
      </div>
      <div>
        <label class="label" for="password">Password:</label>
        <input
          nbInput
          fullWidth
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="Password"
          fieldSize="large"
          status="basic"
          required="true"
          minlength="6"
          maxlength="40"
        />
      </div>
      <div>
        <label class="label" for="first-name">First Name:</label>
        <input
          nbInput
          fullWidth
          type="text"
          id="first-name"
          name="first-name"
          formControlName="name"
          placeholder="First Name"
          fieldSize="large"
          status="basic"
          required="true"
        />
      </div>
      <div>
        <label class="label" for="last-name">Last Name:</label>
        <input
          nbInput
          fullWidth
          type="text"
          id="last-name"
          name="last-name"
          formControlName="lastName"
          placeholder="Last Name"
          fieldSize="large"
          status="basic"
          required="true"
        />
      </div>
      <div>
        <label class="label" for="phone-number">Phone Number:</label>
        <input
          nbInput
          fullWidth
          type="text"
          id="phone-number"
          name="phone-number"
          formControlName="telephoneNumber"
          placeholder="Phone Number"
          fieldSize="large"
          status="basic"
          required="false"
        />
      </div>
      <div>
        <label class="label" for="address">Address:</label>
        <input
          nbInput
          fullWidth
          type="text"
          id="address"
          name="address"
          formControlName="address"
          placeholder="Address"
          fieldSize="large"
          status="basic"
          required="false"
        />
      </div>

      <button
        nbButton
        fullWidth
        type="submit"
        status="primary"
        size="large"
        [disabled]="!registerForm.valid"
      >
        Sign Up
      </button>
    </nb-card-body>
  </nb-card>
</form>
