<div class="header-text">
  <h1 class="title">Login</h1>
  <p class="sub-title">Log in with your email</p>
  <p class="sub-title" aria-label="Register">
    Don't have an account?
    <a routerLink="/register">Register</a>
  </p>
</div>

<form (ngSubmit)="login()" [formGroup]="loginForm">
  <nb-card>
    <nb-card-body class="login-card">
      <div>
        <label class="label" for="email">Email address:</label>
        <input
          nbInput
          fullWidth
          type="text"
          id="email"
          name="email"
          formControlName="email"
          placeholder="Email address"
          fieldSize="large"
          autofocus
          status="basic"
          required="true"
        />
      </div>
      <div>
        <label class="label" for="password">Password:</label>
        <input
          nbInput
          fullWidth
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="Password"
          fieldSize="large"
          status="basic"
          required="true"
          minlength="6"
          maxlength="40"
        />
      </div>
      <button
        nbButton
        fullWidth
        type="submit"
        status="primary"
        size="large"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </nb-card-body>
  </nb-card>
</form>
